* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}

/* Navigation */
nav {
    background: #222;
    padding: 20px;
    text-align: center;
}

nav h2 {
    color: white;
    margin-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

/* Home */
#home {
    background: white;
    min-height: 500px;
    padding: 100px 10%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hello {
    font-weight: bold;
    letter-spacing: 3px;
}

.hero h1 {
    font-size: 60px;
    margin: 10px 0;
}

.hero h2 {
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

/* Profile Photo */
.hero img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* Button */
.btn {
    display: inline-block;
    background: #222;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* Other Sections */
section:not(#home) {
    padding: 70px 20px;
    text-align: center;
}

section:not(#home) h2 {
    margin-bottom: 20px;
}